.css-qhqt3i {
    background: linear-gradient(rgba(239, 247, 255, 0.3) 0%, rgb(239, 247, 255) 100%);
    padding: 40px;
    border-radius: 44px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
}

.css-194z35r {
    background: rgb(93, 135, 252);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 24px 4px;
    display: inline-block;
}

.css-p0w4rl {
    font-size: 30px;
    font-weight: 600;
    color: rgb(38, 44, 51);
    margin-top: 32px;
    margin-bottom: 8px;
}

.block {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    max-width: 1000px;
}